:root {
    --bg-gray: #e6ebe7
}

* {
    box-sizing: border-box;
}

.min-height {
    min-height: 100vh;
}

.gray-bg {
    background-color: var(--bg-gray);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-header {
    font-size: 2.4em;
    margin: 0;
    padding: 0;
}

.section-hr {
    margin: 10px 0 20px;
}

/* RAFFLES */

.user-ticket-btn {
    padding: 7px 10px;
    background-color: #2dd61e;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    margin: 5px 2px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}

.user-ticket-btn:hover {
    background-color: #2fca21;
}

.user-ticket-btn:active {
    background-color: #22c313;
}

.tickets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ticket {
    padding: 7px 10px;
    background-color: #d9dbd9;
    color: rgb(95, 94, 94);
    font-size: 1em;
    border-radius: 10px;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}
