:root {
    --bg-gray: #e6ebe7
}

* {
    box-sizing: border-box;
}

.avoid-selection {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.min-height {
    min-height: 100vh;
}

.gray-bg {
    background-color: var(--bg-gray);
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-header {
    font-size: 2.4em;
    margin: 0;
    padding: 0;
}

.section-hr {
    margin: 10px 0 20px;
}

/* RAFFLES */

.user-ticket-btn {
    padding: 7px 10px;
    background-color: #2dd61e;
    color: #fff;
    font-size: 1em;
    border-radius: 10px;
    margin: 5px 2px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}

.user-ticket-btn:hover {
    background-color: #2fca21;
}

.user-ticket-btn:active {
    background-color: #22c313;
}

.tickets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: auto;
}

/* Ticket */

.ticket-wrapper {
    position: relative;
    margin: 4px 2px;
}

.ticket {
    padding: 7px 10px;
    background-color: #d9dbd9;
    color: rgb(95, 94, 94);
    font-size: 1em;
    border-radius: 10px;
    min-width: 70px;
    text-align: center;
}

.ticket-owned {
    color: rgb(52, 48, 48);
    background-color: rgb(52, 48, 48);
    cursor: not-allowed;
}

.ticket-selected {
    background-color: rgb(137, 133, 133);
    color: #fff;
}

/* ticket cover */

.ticket-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.ticket-cover:hover {
    background-color: #6f716f5c;
}

.ticket-cover:active {
    background-color: #2323235c;
}
